
pyphot/.ipynb_checkpoints/Untitled-checkpoint.ipynb

pyphot/demo/.ipynb_checkpoints/demo_pyphot-checkpoint.ipynb

pyphot/Untitled.ipynb

pyphot/.ipynb_checkpoints/Untitled-checkpoint.ipynb

pyphot/demo/grams_c.fits
